body, html{
    color: white;
    height: 100%;
    margin: 0;
}
.bg {
    position: fixed;
    width: 100%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

.searching{
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 4%;
}
#cityInput, #searchButton{
    z-index: 2;
}
.adding{
    background: rgba(217, 217, 217, 0.3);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 5vw;
    margin-right: 1vw;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    cursor: pointer;

}
.listButton{
    position: absolute;
    left: 2%;
    top: 2%;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 5px;
    min-width: 2px;
    height: 4%;
    aspect-ratio: 1/1;
    cursor: pointer;
    z-index: 2;
}
.adding:hover, .listButton:hover{
    background: rgba(217, 217, 217, 0.599);
    
}

.list{
    display: none;
    width: 34%;
    padding: 5% 2%;
    position:fixed;
    padding-bottom: 0%;
    gap: 3%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left:0%;
    top:0%;
    height: 95%;
    background-color: rgba(19, 74, 77, 0.8);
    z-index: 9999;
}

.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.temperature{
    position: relative;
    width: 100%;
    aspect-ratio: 10/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.temperature .hight1{
    font-size: 6vw;
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 700;
}
.temperature .hight2{
    font-size: 2.5vw;
    margin:0;
}

.temperature .hight3{
    font-size: 1.2vw;
    margin:-1vh 0 3vh 0;
}
.temperature .hight4{
    font-size: 1vw;
    margin:0;
}

.secondData{
    position: relative;
    width:80%;
    aspect-ratio: 2/1.2;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top:2vw;
    gap: 2vw;
    margin-bottom: 2vw;
}

.leftContainer{
    position: relative;
    width:60%;
    gap: 2vw;
    justify-content: space-between;

}
.dayForecastData{
    position: relative;
    width: 98%;
    padding: 1%;
    aspect-ratio: 4/0.98;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.4);
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}
.differentData{
    display: flex;
    width:49%;
    position: relative;
    flex-direction: row;
    gap: 2vw;
    width:100%;
    margin-top:2vw;
    aspect-ratio: 4/3;
    align-items: stretch;
    justify-content: space-between;

}
.pollutionData{
    width:48%;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
}
.pollution{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 0;
    width: 100%;
    height: 95%;
}
.smallDatas{
    display: flex;
    position: relative;
    width:48%;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cube{
    width:41%;
    padding: 2%;
    position: relative;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    aspect-ratio: 1/1;
    border-radius: 15px;
    background-color: rgba(217, 217, 217, 0.4);
}
.rightContainer{
    position: relative;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topContainer{
    position: relative;
    width: 96%;
    height: 72.6%;
    border-radius: 15px;
    padding: 2%;
    background-color: rgba(217, 217, 217, 0.4);
    border: 0.5px solid rgba(0, 0, 0, 0.3);


}
.bottomContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxName{
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
}

.cubeData{
    margin-top:2vh;
    font-size: 2.5vw;
}
.bottomCubeData{
    position: absolute;
    bottom:2%;
    font-size: 0.8vw;
}

.weatherMap{
    position: relative;
    height: 92%;
    width: 96%;
    margin: 2%;
}

.dayForecast {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto;
    
}
.dayForecast::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.forecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border-radius: 10px;
}

.forecastTime {
    font-size: 12px;
    margin-bottom: 5px;
}

.forecastIcon {
    width: 100%;
    min-height: 1px;
    aspect-ratio: 1/1;
}

.forecastTemperature, .forecastTime {
    font-size: 1.3vw;
}

.pollutionItem{
    display: flex;
    width: 80%;
    padding: 2.5% 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.5vw;
    /* border: 1px solid grey; */
    margin: 0;
    height: auto;

}

.cityItem{
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid grey;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    width: 89%;
}

.list .escape{
    position: absolute;
    right: 1%;
    top:0%;
    cursor: pointer;
}

.leftPart{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    cursor: pointer;
}
.leftPart h4{
    margin-block-start: 0.83em;
    margin-block-end: 0.33em;
}
.leftPart h3{
    margin-block-start: 0.33em;
    margin-block-end: 1.33em;
}
.leftPart h2{
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}
.rightPart{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.rightPart h4{
    margin-block-start: 0.83em;
    margin-block-end: 0.33em;
}
.rightPart h1{
    margin-block-start: 0em;
    margin-block-end: 0.33em;
    text-align: center;
    font-size: 5vw;
}

.remove{
    position: relative;
    margin-right: -5%;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.items{
    width: 100%;
    height:85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0%;
    overflow-y: scroll;
}
.items::-webkit-scrollbar{
    width: 0;
    margin-right: 0%;
}

